.room-card{
  width:320px;
  background:white;
  border-radius:18px;
  overflow:hidden;
  box-shadow:0 8px 25px rgba(0,0,0,.08);
  transition:.35s;
}

.room-card:hover{
  transform:translateY(-8px);
  box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.room-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.room-info{
  padding:20px;
}

.room-info h3{
  margin:0;
  color:#1B365D;
}

.room-type{
  color:#777;
  margin:8px 0;
}

.room-price{
  font-size:22px;
  color:#C9A227;
  font-weight:bold;
  margin:15px 0;
}

.available{
  color:#2E8B57;
  font-weight:bold;
}

.not-available{
  color:#C0392B;
  font-weight:bold;
}

.details-btn{
  display:block;
  text-align:center;
  margin-top:20px;
  padding:12px;
  background:#1B365D;
  color:white;
  text-decoration:none;
  border-radius:10px;
  transition:.3s;
}

.details-btn:hover{
  background:#284d82;
}